<!--begin::Results(add d-none to below element to hide the users list by default)-->
<div data-kt-search-element="results" class="d-none">
	<!--begin::Users-->
	<div class="mh-375px scroll-y me-n7 pe-7">
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="0">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='0']" value="0" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-6.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Emma Smith</a>
					<div class="fw-semibold text-muted">smith@kpmg.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="1">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='1']" value="1" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-danger text-danger fw-semibold">M</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Melody Macy</a>
					<div class="fw-semibold text-muted">melody@altbox.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1" selected="selected">Guest</option>
					<option value="2">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="2">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='2']" value="2" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-1.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Max Smith</a>
					<div class="fw-semibold text-muted">max@kt.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="3">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='3']" value="3" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-5.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Sean Bean</a>
					<div class="fw-semibold text-muted">sean@dellito.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="4">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='4']" value="4" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-25.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Brian Cox</a>
					<div class="fw-semibold text-muted">brian@exchange.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="5">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='5']" value="5" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-warning text-warning fw-semibold">C</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Mikaela Collins</a>
					<div class="fw-semibold text-muted">mik@pex.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="6">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='6']" value="6" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-9.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Francis Mitcham</a>
					<div class="fw-semibold text-muted">f.mit@kpmg.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="7">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='7']" value="7" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-danger text-danger fw-semibold">O</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Olivia Wild</a>
					<div class="fw-semibold text-muted">olivia@corpmail.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="8">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='8']" value="8" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-primary text-primary fw-semibold">N</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Neil Owen</a>
					<div class="fw-semibold text-muted">owen.neil@gmail.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1" selected="selected">Guest</option>
					<option value="2">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="9">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='9']" value="9" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-23.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Dan Wilson</a>
					<div class="fw-semibold text-muted">dam@consilting.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="10">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='10']" value="10" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-danger text-danger fw-semibold">E</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Emma Bold</a>
					<div class="fw-semibold text-muted">emma@intenso.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="11">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='11']" value="11" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-12.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Ana Crown</a>
					<div class="fw-semibold text-muted">ana.cf@limtel.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1" selected="selected">Guest</option>
					<option value="2">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="12">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='12']" value="12" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-info text-info fw-semibold">A</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Robert Doe</a>
					<div class="fw-semibold text-muted">robert@benko.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="13">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='13']" value="13" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-13.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">John Miller</a>
					<div class="fw-semibold text-muted">miller@mapple.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="14">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='14']" value="14" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-success text-success fw-semibold">L</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Lucy Kunic</a>
					<div class="fw-semibold text-muted">lucy.m@fentech.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2" selected="selected">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="15">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='15']" value="15" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-21.jpg")' />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Ethan Wilder</a>
					<div class="fw-semibold text-muted">ethan@loop.com.au</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1" selected="selected">Guest</option>
					<option value="2">Owner</option>
					<option value="3">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
		<!--begin::Separator-->
		<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
		<!--end::Separator-->
		<!--begin::User-->
		<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="16">
			<!--begin::Details-->
			<div class="d-flex align-items-center">
				<!--begin::Checkbox-->
				<label class="form-check form-check-custom form-check-solid me-5">
					<input class="form-check-input" type="checkbox" name="users" data-kt-check="true" data-kt-check-target="[data-user-id='16']" value="16" />
				</label>
				<!--end::Checkbox-->
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<span class="symbol-label bg-light-success text-success fw-semibold">L</span>
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-5">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">Lucy Kunic</a>
					<div class="fw-semibold text-muted">lucy.m@fentech.com</div>
				</div>
				<!--end::Details-->
			</div>
			<!--end::Details-->
			<!--begin::Access menu-->
			<div class="ms-2 w-100px">
				<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
					<option value="1">Guest</option>
					<option value="2">Owner</option>
					<option value="3" selected="selected">Can Edit</option>
				</select>
			</div>
			<!--end::Access menu-->
		</div>
		<!--end::User-->
	</div>
	<!--end::Users-->
	<!--begin::Actions-->
	<div class="d-flex flex-center mt-15">
		<button type="reset" id="kt_modal_users_search_reset" data-bs-dismiss="modal" class="btn btn-active-light me-3">Cancel</button>
		<button type="submit" id="kt_modal_users_search_submit" class="btn btn-primary">Add Selected Users</button>
	</div>
	<!--end::Actions-->
</div>
<!--end::Results-->