<!--begin:Dashboards menu-->
<div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible" data-kt-menu-dismiss="true">
	<!--begin:Row-->
	<div class="row">
		<!--begin:Col-->
		<div class="col-lg-8 mb-3 mb-lg-0 py-3 px-3 py-lg-6 px-lg-6">
			<!--begin:Row-->
			<div class="row">
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=index" class="menu-link active">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("element-11", "text-primary fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Default</span>
								<span class="fs-7 fw-semibold text-muted">Reports & statistics</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/ecommerce" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("basket", "text-danger fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">eCommerce</span>
								<span class="fs-7 fw-semibold text-muted">Sales reports</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/projects" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("abstract-44", "text-info fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Projects</span>
								<span class="fs-7 fw-semibold text-muted">Tasts, graphs & charts</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/online-courses" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("color-swatch", "text-success fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Online Courses</span>
								<span class="fs-7 fw-semibold text-muted">Student progress</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/marketing" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("chart-simple", "text-gray-900 fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Marketing</span>
								<span class="fs-7 fw-semibold text-muted">Campaings & conversions</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/bidding" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("switch", "text-warning fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Bidding</span>
								<span class="fs-7 fw-semibold text-muted">Campaings & conversions</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/pos" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("abstract-42", "text-danger fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">POS System</span>
								<span class="fs-7 fw-semibold text-muted">Campaings & conversions</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=dashboards/call-center" class="menu-link">
							<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">@((MarkupString)KTTheme.GetIcon("call", "text-primary fs-1"))</span>
							<span class="d-flex flex-column">
								<span class="fs-6 fw-bold text-gray-800">Call Center</span>
								<span class="fs-7 fw-semibold text-muted">Campaings & conversions</span>
							</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
			</div>
			<!--end:Row-->
			<div class="separator separator-dashed mx-5 my-5"></div>
			<!--begin:Landing-->
			<div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mx-5">
				<div class="d-flex flex-column me-5">
					<div class="fs-6 fw-bold text-gray-800">Landing Page Template</div>
					<div class="fs-7 fw-semibold text-muted">Onpe page landing template with pricing & others</div>
				</div>
				<a href="?page=landing" class="btn btn-sm btn-primary fw-bold">Explore</a>
			</div>
			<!--end:Landing-->
		</div>
		<!--end:Col-->
		<!--begin:Col-->
		<div class="menu-more bg-light col-lg-4 py-3 px-3 py-lg-6 px-lg-6 rounded-end">
			<!--begin:Heading-->
			<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">More Dashboards</h4>
			<!--end:Heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/logistics" class="menu-link py-2">
					<span class="menu-title">Logistics</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/website-analytics" class="menu-link py-2">
					<span class="menu-title">Website Analytics</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/finance-performance" class="menu-link py-2">
					<span class="menu-title">Finance Performance</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/store-analytics" class="menu-link py-2">
					<span class="menu-title">Store Analytics</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/social" class="menu-link py-2">
					<span class="menu-title">Social</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/delivery" class="menu-link py-2">
					<span class="menu-title">Delivery</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/crypto" class="menu-link py-2">
					<span class="menu-title">Crypto</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/school" class="menu-link py-2">
					<span class="menu-title">School</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=dashboards/podcast" class="menu-link py-2">
					<span class="menu-title">Podcast</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Col-->
	</div>
	<!--end:Row-->
</div>
<!--end:Dashboards menu-->