<!--begin::Recently viewed-->
<div data-kt-search-element="results" class="d-none">
	<!--begin::Items-->
	<div class="scroll-y mh-200px mh-lg-350px">
		<!--begin::Category title-->
		<h3 class="fs-5 text-muted m-0 pb-5" data-kt-search-element="category-title">Users</h3>
		<!--end::Category title-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<img src='@KTTheme.GetAssetPath("media/avatars/300-6.jpg")' alt="" />
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Karina Clark</span>
				<span class="fs-7 fw-semibold text-muted">Marketing Manager</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<img src='@KTTheme.GetAssetPath("media/avatars/300-2.jpg")' alt="" />
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Olivia Bold</span>
				<span class="fs-7 fw-semibold text-muted">Software Engineer</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<img src='@KTTheme.GetAssetPath("media/avatars/300-9.jpg")' alt="" />
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Ana Clark</span>
				<span class="fs-7 fw-semibold text-muted">UI/UX Designer</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<img src='@KTTheme.GetAssetPath("media/avatars/300-14.jpg")' alt="" />
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Nick Pitola</span>
				<span class="fs-7 fw-semibold text-muted">Art Director</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<img src='@KTTheme.GetAssetPath("media/avatars/300-11.jpg")' alt="" />
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Edward Kulnic</span>
				<span class="fs-7 fw-semibold text-muted">System Administrator</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Category title-->
		<h3 class="fs-5 text-muted m-0 pt-5 pb-5" data-kt-search-element="category-title">Customers</h3>
		<!--end::Category title-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">
					<img class="w-20px h-20px" src='@KTTheme.GetAssetPath("media/svg/brand-logos/volicity-9.svg")' alt="" />
				</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Company Rbranding</span>
				<span class="fs-7 fw-semibold text-muted">UI Design</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">
					<img class="w-20px h-20px" src='@KTTheme.GetAssetPath("media/svg/brand-logos/tvit.svg")' alt="" />
				</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Company Re-branding</span>
				<span class="fs-7 fw-semibold text-muted">Web Development</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">
					<img class="w-20px h-20px" src='@KTTheme.GetAssetPath("media/svg/misc/infography.svg")' alt="" />
				</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Business Analytics App</span>
				<span class="fs-7 fw-semibold text-muted">Administration</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">
					<img class="w-20px h-20px" src='@KTTheme.GetAssetPath("media/svg/brand-logos/leaf.svg")' alt="" />
				</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">EcoLeaf App Launch</span>
				<span class="fs-7 fw-semibold text-muted">Marketing</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">
					<img class="w-20px h-20px" src='@KTTheme.GetAssetPath("media/svg/brand-logos/tower.svg")' alt="" />
				</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column justify-content-start fw-semibold">
				<span class="fs-6 fw-semibold">Tower Group Website</span>
				<span class="fs-7 fw-semibold text-muted">Google Adwords</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Category title-->
		<h3 class="fs-5 text-muted m-0 pt-5 pb-5" data-kt-search-element="category-title">Projects</h3>
		<!--end::Category title-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">@((MarkupString)KTTheme.GetIcon("notepad", "fs-2 text-primary"))</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column">
				<span class="fs-6 fw-semibold">Si-Fi Project by AU Themes</span>
				<span class="fs-7 fw-semibold text-muted">#45670</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">@((MarkupString)KTTheme.GetIcon("frame", "fs-2 text-primary"))</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column">
				<span class="fs-6 fw-semibold">Shopix Mobile App Planning</span>
				<span class="fs-7 fw-semibold text-muted">#45690</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">@((MarkupString)KTTheme.GetIcon("message-text-2", "fs-2 text-primary"))</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column">
				<span class="fs-6 fw-semibold">Finance Monitoring SAAS Discussion</span>
				<span class="fs-7 fw-semibold text-muted">#21090</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
		<!--begin::Item-->
		<a href="#" class="d-flex text-gray-900 text-hover-primary align-items-center mb-5">
			<!--begin::Symbol-->
			<div class="symbol symbol-40px me-4">
				<span class="symbol-label bg-light">@((MarkupString)KTTheme.GetIcon("profile-circle", "fs-2 text-primary"))</span>
			</div>
			<!--end::Symbol-->
			<!--begin::Title-->
			<div class="d-flex flex-column">
				<span class="fs-6 fw-semibold">Dashboard Analitics Launch</span>
				<span class="fs-7 fw-semibold text-muted">#34560</span>
			</div>
			<!--end::Title-->
		</a>
		<!--end::Item-->
	</div>
	<!--end::Items-->
</div>
<!--end::Recently viewed-->